<section id="two">
<div class="inner">
	<header class="major">
		<h2>Recent blog posts</h2>
	</header>
	{% for post in site.posts limit:site.post-limit %}
		<header class="major">
			<a href="{{ site.baseurl }}{{ post.url }}"><h3>{{ post.title }}</h3></a>
		</header>
		<p>{{ post.description }}</p>
		<ul class="actions">
			<li><a href="{{ site.baseurl }}{{ post.url }}" class="button next">Read More</a></li>
		</ul>
	{% endfor %}
	<a href="{{ site.baseurl }}blog">See all blog posts</a>
</div>
</section>
